<a href="https://colab.research.google.com/github/Shrinivasakunder/Python_Bootcamp_Workshop/blob/master/Day_1_session_2_Test_Exercises(bootcamp).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Write a program to print the triangle

In [ ]:

n = int(input('Enter The number: '))
c=1
for i in range(n):
  for j in range(i,i+c):
    print(j+1,end=" ")
  c=c+1
  print('')

Enter The number: 4
1
2 3
3 4 5
4 5 6 7

In [ ]:
n = int(input("Enter The Number: "))
for i in range(n):
  print('* '*(i+1))

Enter The Number: 4
*
* *
* * *
* * * *

In [ ]:
n = int(input("Enter The Number: "))
c=n
for i in range(n):
  for j in range(i+1):
    print(c,end=' ')
    c=c+1
  c=c-(i+2)
  print("")

Enter The Number: 5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [ ]:
n = int(input("Enter The Number: "))
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end=' ')
  print('')

Enter The Number: 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
n = int(input("Enter The Number: "))
a=0
for i in range(n,1,-1):
  for j in range(1,i+1):
    print(j+a,end=' ')
  a=a+1
  print('')
c=n
for i in range(n):
  for j in range(i+1):
    print(c,end=' ')
    c=c+1
  c=c-(i+2)
  print("")

Enter The Number: 4
1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

In [ ]:
s = input('Enter The String: ')
c=0
for i in s:
  c=c+1
print(f'The Length Of String iS: {c}')

Enter The String: Alvas
The Length Of String iS: 5

In [ ]:
s = input('Enter The String: ')
c=0
for i in s:
  if i!=' ':
    c=c+1
print(f'The Number Of Words in a String are: {len(s.split())}\nNumber Of Characters in a string are: {c}')

Enter The String: Shrinivas kunder
The Number Of Words in a String are: 2
Number Of Characters in a string are: 15

In [ ]:
s = input('Enter The String: ')
d=dict()
l = s.split()
for i in l:
  d[i]=d.get(i, 0)+1
for k,v in d.items():
  print(f'{k} : {v} Times')

Enter The String: Alvas Institute Alvas Mijar Mijar
Alvas : 2 Times
Institute : 1 Times
Mijar : 2 Times