<a href="https://colab.research.google.com/github/Shrinivasakunder/Python_Bootcamp_Workshop/blob/master/Day_2_session_2_Test_Exercises(bootcamp).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Add rollno and marks {name:mark} for n number of students through keyboard in a diction ary and print the marks in descending order with respective name. 
d={input(f"Enter the name-{i}: "):int(input(f'Enter the marks-{i}: ')) for i in range(1, int(input(f'Enter the number of students: '))+1)}
import operator
print(dict(sorted(d.items(), key=operator.itemgetter(1), reverse=True)))

Enter the number of students: 3
Enter the marks-1: 96
Enter the name-1: Suhas
Enter the marks-2: 93
Enter the name-2: Shri
Enter the marks-3: 94
Enter the name-3: Sai
{'Suhas': 96, 'Sai': 94, 'Shri': 93}

In [ ]:
#Add name and salary {name:salary} for n number of employees through keyboard in a dic tionary and print them in name alphabetical order with salary 
d={input(f"Enter the name-{i}: "):int(input(f'Enter the Salary-{i}: ')) for i in range(1, int(input(f'Enter the number of employees: '))+1)}
import operator
print(dict(sorted(d.items(), key=operator.itemgetter(0), reverse=False)))

Enter the number of employees: 3
Enter the Salary-1: 50000
Enter the name-1: Suhas
Enter the Salary-2: 60000
Enter the name-2: Sai
Enter the Salary-3: 40000
Enter the name-3: Shri
{'Sai': 60000, 'Shri': 40000, 'Suhas': 50000}

In [ ]:
#Add name and salary {name:salary} for n number of employees through keyboard in a dic tionary and print them in salary ascending order and sum, max, min and average of the  salaries 
d={input(f"Enter the name-{i}: "):int(input(f'Enter the Salary-{i}: ')) for i in range(1, int(input(f'Enter the number of employees: '))+1)}
import operator
print(dict(sorted(d.items(), key=operator.itemgetter(1), reverse=False)))       
print(f'Sum: {sum(d.values())}\nMax: {max(d.values())}\nMin: {min(d.values())}\nAverage: {sum(d.values())/len(d)}')

Enter the number of employees: 3
Enter the Salary-1: 60000
Enter the name-1: Suhas
Enter the Salary-2: 40000
Enter the name-2: Shri
Enter the Salary-3: 50000
Enter the name-3: Sai
{'Shri': 40000, 'Sai': 50000, 'Suhas': 60000}
Sum: 150000
Max: 60000
Min: 40000
Average: 50000.0

In [ ]:
# Add name and salary {name:salary} for n number of employees through keyboard in a dic tionary and print only the employees whose salary is greater than 2000 but less than 4000 
d={input(f"Enter the name-{i}: "):int(input(f'Enter the Salary-{i}: ')) for i in range(1, int(input(f'Enter the number of employees: '))+1)}
l=[]
for i,j in d.items():
  if j>2000 and j<4000:
    l.append((i,j))
print(dict(l))

Enter the number of employees: 5
Enter the Salary-1: 3000
Enter the name-1: Suhas
Enter the Salary-2: 1000
Enter the name-2: Surya
Enter the Salary-3: 3500
Enter the name-3: Shri
Enter the Salary-4: 3800
Enter the name-4: Sai
Enter the Salary-5: 4000
Enter the name-5: Nachi
{'Suhas': 3000, 'Shri': 3500, 'Sai': 3800}

In [ ]:
#Python program to convert a 3 digit number into words 
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',  10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',  17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty', 60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'One Hundred',200:'Two Hundred',300:'Three Hundred',400:'Four Hundred',500:'Five Hundred',600:'Six Hundred',700:'Seven Hundred',800:'Eight hundred',900:'Nine Hundred'} 
n=int(input("Enter the integer between 1 to 999:")) 
if (n<=20): 
 print(d[n]) 
elif (n<100):
    print(d[n//10*10]+" "+d.get((n%10), ''))
else:
  if (n-(n//100)*100<=20):
    print(f'{d[(n//100)*100]} {d[n-(n//100)*100]}')
  else:
    print(f'{d[(n//100)*100]} {d[((n//10)%10)*10]} {d[n%10]}')

Enter the integer between 1 to 999:346
Three Hundred fourty six

In [ ]:
#Python Program to count the total number of charaters (except blank space) in a text file. 
f=open('/t1.txt','r')
c=0
for l in f:
  n=l.split()
  for i in n:
    for j in i:
      if j!=' ':
        c=c+1 
print(c)

40

In [11]:
#Python Program to print all the numbers present in a text file with its total number of occurrence. 
f=open('/t1.txt','r')
li=[]
a=[]
for l in f:
  li=l.split()
  for w in li:
    try:
      x=int(w)
      a.append(x)
    except:
      continue
for i in a:
  print(i,end=' ')
print(f'\nSum = {sum(a)}')

123 25 45 453
Sum = 646

In [5]:
#Python Program to append the contents of one file to another file by getting the both file names  through keyboard .  
with open("/t1.txt") as f: 
 with open("/t2.txt", "a") as f1: 
   for line in f: 
     f1.write(line)

In [3]:
#Python Program to count the number of blank spaces in a text file. 
f=open('/t1.txt','r')
c=0
for l in f:
  n=str(l.rstrip())
  for i in n:
    if i==' ':
      c=c+1 
print(c)

2

In [7]:
#Python Program to read a file and capitalize the first letter of every word in the file and copy the  every word capitalized content into another file and read it .
f=open('/t1.txt','r')
a=open('t.txt','w')
for l in f:
  a.write(l.title())
a.close()
s=open('t.txt','r')
for b in s:
  print(b)

Ajskh

Jkdhbjahu Hfgtyt

Jaksbh Hhaa

Jkhdsfbjhb