<a href="https://colab.research.google.com/github/Shrinivasakunder/Python_Bootcamp_Workshop/blob/master/Day_4_AN_Excercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Write a function called check() , that takes in a list as the input. It has to return whether every element in it as ‘greater than 5’ or ‘not greater than 5’ or equal to 5. The returned value has to be placed in the list of tuples as (4, 'Less than 5'), (12, 'Greater than 5 '), (5, 'Equal to 5 '), and so on...
def check(l):
  list=[]
  for i in l:
    if i==5:
      list.append((i,'Equal to 5'))
    elif (i<5):
      list.append((i,'Less than 5'))
    else:
       list.append((i,'Greater than 5'))
  return list

a=[int(input('Enter the elements: ')) for i in range(int(input('Enter the number of elements: ')))]
print(check(a))

Enter the number of elements: 5
Enter the elements: 6
Enter the elements: 5
Enter the elements: 3
Enter the elements: 1
Enter the elements: 8
[(6, 'Greater than 5'), (5, 'Equal to 5'), (3, 'Less than 5'), (1, 'Less than 5'), (8, 'Greater than 5')]

In [11]:
#Write a program in Python to produce Star triangle for any number n
n=int(input('Enter the N value: '))
a = 2*n - 2
for i in range(0, n): 
    for j in range(0, a): 
      print(end=" ") 
    a = a - 1 
    for j in range(0, i+1): 
      print("* ", end="") 
    print("\r")

Enter the N value: 5
        *
       * *
      * * *
     * * * *
    * * * * *

In [15]:
#Write a program to produce Fibonacci series using generator in Python
def fib(limit): 
    a, b = 0, 1
    while a <= limit: 
        yield a 
        a, b = b, a + b  
for i in fib(int(input('Enter the limit: '))):  
    print(i)

Enter the limit: 40
0
1
1
2
3
5
8
13
21
34

In [21]:
#Write a program to check a number and a string are palindrome or not without using looping statement.
def pal(n):
  if (len(n)==1):
    return n[0]
  else:
    return n[-1]+pal(n[:-1])

s=input('Enter the Number or String: ')
if pal(s)==s:
  print('Palindrome')
else:
  print("Not a palindrome")

Enter the Number or String: malayalam
Palindrome

In [34]:
#Convert the following dictionary into two lists of country and medals. Again convert them into list of (country,medals) . Finally convert the list of tuples into dictionary again.
golds = {"Italy": 12, "USA": 33, "Brazil": 15, "China": 27, "Spain": 19,"Canada": 22, "Argentina": 8, "England": 29}
key=[]
val=[]
t=[]
for k,v in golds.items():
  key.append(k)
  val.append(v)
print(f'Seperate lists:\n{key}\n{val}')
for i in range(len(key)):
  t.append((key[i],val[i]))
print(f'List of tuples:\n{t}')
print(f'Dict:\n{dict(t)}')

Seperate lists:
['Italy', 'USA', 'Brazil', 'China', 'Spain', 'Canada', 'Argentina', 'England']
[12, 33, 15, 27, 19, 22, 8, 29]
List of tuples:
[('Italy', 12), ('USA', 33), ('Brazil', 15), ('China', 27), ('Spain', 19), ('Canada', 22), ('Argentina', 8), ('England', 29)]
Dict:
{'Italy': 12, 'USA': 33, 'Brazil': 15, 'China': 27, 'Spain': 19, 'Canada': 22, 'Argentina': 8, 'England': 29}

In [36]:
import operator
golds = {"Italy": 114, "Germany": 782, "Pakistan": 10, "Sweden": 6,\
"USA": 2681, "Zimbabwe": 8, "Greece": 111, "Mongolia": 24,\
"Brazil": 108, "Croatia": 34, "Algeria": 15,\
"Switzerland": 323, "Yugoslavia": 87, "China": 526,\
"Egypt": 26, "Norway": 477, "Spain": 133, "Australia": 48,\
"Slovakia": 29, "Canada": 22, "New Zealand": 100,\
"Denmark": 180, "Chile": 13, "Argentina": 70, \
"Thailand": 24, "Cuba": 209, "Uganda": 7, "England": 806,\
"Denmark": 180, "Ukraine": 122, "Bahamas": 12}
l=sorted(golds.items(), key=operator.itemgetter(1), reverse=False)
m=sorted(golds.items(), key=operator.itemgetter(1), reverse=True)
n=sorted(golds.items(), key=operator.itemgetter(0), reverse=False)
o=sorted(golds.items(), key=operator.itemgetter(1), reverse=True)
print(dict(l))
print(dict(m))
print(dict(n))
print(dict(o))

{'Sweden': 6, 'Uganda': 7, 'Zimbabwe': 8, 'Pakistan': 10, 'Bahamas': 12, 'Chile': 13, 'Algeria': 15, 'Canada': 22, 'Mongolia': 24, 'Thailand': 24, 'Egypt': 26, 'Slovakia': 29, 'Croatia': 34, 'Australia': 48, 'Argentina': 70, 'Yugoslavia': 87, 'New Zealand': 100, 'Brazil': 108, 'Greece': 111, 'Italy': 114, 'Ukraine': 122, 'Spain': 133, 'Denmark': 180, 'Cuba': 209, 'Switzerland': 323, 'Norway': 477, 'China': 526, 'Germany': 782, 'England': 806, 'USA': 2681}
{'USA': 2681, 'England': 806, 'Germany': 782, 'China': 526, 'Norway': 477, 'Switzerland': 323, 'Cuba': 209, 'Denmark': 180, 'Spain': 133, 'Ukraine': 122, 'Italy': 114, 'Greece': 111, 'Brazil': 108, 'New Zealand': 100, 'Yugoslavia': 87, 'Argentina': 70, 'Australia': 48, 'Croatia': 34, 'Slovakia': 29, 'Egypt': 26, 'Mongolia': 24, 'Thailand': 24, 'Canada': 22, 'Algeria': 15, 'Chile': 13, 'Bahamas': 12, 'Pakistan': 10, 'Zimbabwe': 8, 'Uganda': 7, 'Sweden': 6}
{'Algeria': 15, 'Argentina': 70, 'Australia': 48, 'Bahamas': 12, 'Brazil': 108, 'Canada': 22, 'Chile': 13, 'China': 526, 'Croatia': 34, 'Cuba': 209, 'Denmark': 180, 'Egypt': 26, 'England': 806, 'Germany': 782, 'Greece': 111, 'Italy': 114, 'Mongolia': 24, 'New Zealand': 100, 'Norway': 477, 'Pakistan': 10, 'Slovakia': 29, 'Spain': 133, 'Sweden': 6, 'Switzerland': 323, 'Thailand': 24, 'USA': 2681, 'Uganda': 7, 'Ukraine': 122, 'Yugoslavia': 87, 'Zimbabwe': 8}
{'USA': 2681, 'England': 806, 'Germany': 782, 'China': 526, 'Norway': 477, 'Switzerland': 323, 'Cuba': 209, 'Denmark': 180, 'Spain': 133, 'Ukraine': 122, 'Italy': 114, 'Greece': 111, 'Brazil': 108, 'New Zealand': 100, 'Yugoslavia': 87, 'Argentina': 70, 'Australia': 48, 'Croatia': 34, 'Slovakia': 29, 'Egypt': 26, 'Mongolia': 24, 'Thailand': 24, 'Canada': 22, 'Algeria': 15, 'Chile': 13, 'Bahamas': 12, 'Pakistan': 10, 'Zimbabwe': 8, 'Uganda': 7, 'Sweden': 6}